.App {
  text-align: center;
}

.tanks-images {
  max-width: 40rem;
  max-height: 36rem;
  border: solid;
}

.tank-details-img {
  max-width: 50rem;
  max-height: 46rem;
  border: solid;
}

.tanks-list {
  list-style-type: none;
}

.tank-details {
  padding: 1rem;
}

.tanks-list {
  padding: 1rem;
}

footer {
  padding: 5rem;
  background-color: black;
}

header {
  padding: 1rem;
  background-color: black;
  color: white;
}

hr {
  border-top: 2px dashed;
}

.forms {
  width: 18rem;
  display: inline-block;
  flex-direction: column;
}

.divider {
  height: auto;
  display: inline-block;
  width: 10px;
}